<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.yy.place.mapper.YyRoutePriceMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  yy_route_price 
		WHERE
			 route_id = #{mainId} 
	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.yy.place.entity.YyRoutePrice">
		SELECT * 
		FROM  yy_route_price
		WHERE
			 route_id = #{mainId} 
	</select>

	<select id="getRouteBasicPrice" parameterType="java.lang.String" resultType="java.math.BigDecimal">
		SELECT basic_price
		FROM  yy_route_price
		WHERE
			route_id = #{routeId}
			AND car_type = #{carType}
	</select>
</mapper>
